* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #152259;
  color: white;
  display: flex;
  flex-direction: column;
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 20px;
}

.logo-img {
  max-width: 50px; /* Adjust size */
  margin-right: 10px; /* Space between the logo and the "Hello, Admin" text */
  border-radius: 50%;
}

.logo h2 {
  font-size: 24px;
  color: white;
  padding-top: 20px;
}

.menu {
  padding: 30px;
  list-style: none;
}

.menu li {
  margin: 5px 0;
}

/* Ensure some spacing between the icon and the text */
.menu li a i {
  margin-right: 10px;
  color: white;
}

/* Keep the other styles the same */
.menu li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  padding-left: 23px;
  transition: background-color 0.3s;
}

/* Hover effect */
.menu li a:hover {
  background-color: #4a90e2;
}

/* Active class */
.menu li a.active {
  background-color: #4a90e2;
  color: white;
}

menuitem i {
  color: white;
}

.logout {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 280px;
  display: flex;
  justify-content: center;
}
/* Log out button */
.logout {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 280px;
  display: flex;
  justify-content: center;
  transition: color 0.3s, background-color 0.3s;
}

/* Hover effect to turn red */
.logout:hover {
  color: red; /* Background color turns red on hover */
  border-radius: 5px; /* Optional: round the edges of the background */
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: white;
}

.movies-header {
  display: flex;
  justify-content: space-between; /* Space between text and button */
  align-items: center; /* Center vertically */
  margin-bottom: 20px; /* Space below the header */
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #f2f2f2;
  padding-left: 15px;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
}
.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
